html {overflow-y: scroll;}
html, body {margin: 0; padding: 0; width: 100%; height: 100%; font-family: Tahoma;}
img {border: 0;}
/*
#cartl {background: url(/images/cartl.jpg) 5px 20px no-repeat;}
#carbl {background: url(/images/carbl.jpg) 5px 1150px no-repeat;}
#cartr {background: url(/images/cartr.jpg) 100% 0 no-repeat;}
#carbr {background: url(/images/carbr.jpg) 100% 370px no-repeat;}
#trace {background: url(/images/trace.jpg) 5px 205px no-repeat;}
*/
#wrapper {padding: 1px 115px 120px; margin: 0 auto; max-width: 1370px; min-width: 997px;}
#header {overflow: hidden; padding: 0 10px;}
#logo {float: left; padding-top: 18px;}
#quicklinks {margin-left: 405px; padding: 20px 0 0; font-size: 11pt; color: #09371d;}
#quicklinks a {color: #09371d; text-transform: lowercase;}
#quicklinks a:hover {color: #09371d; text-transform: lowercase; text-decoration:none}
#quicklinks .cufon-canvas {top: -2px}
#carbr {height: auto !important; height: 100%; min-height: 100%;}

#footer {margin: -60px auto 0; padding: 0 115px; max-width: 1370px; color: #046330; font-size: 13pt;}
#footer div.copy {font-size: 11pt; padding: 5px 0 0;}
#footer a {color: #046330;}
#footer a:hover {color: #046330; text-decoration:none}

#menu {padding: 20px 10px 22px;}
#menu a {color: #046330;}
#menu a:hover {color: #046330; text-decoration:none}
#menu ul {margin: 0; padding: 0; list-style: none; height: 50px;}
#menu li {float: left; height: 48px; padding-top: 20px; padding-right: 8px; background-repeat: no-repeat; background-position: 0 0;}

#menu li.obratnaya-svyaz {background-image: url(/images/menu_obratnaya_svyaz.gif); padding-left: 38px;}
#menu li.contacts {background-image: url(/images/menu_globe.jpg); padding-left: 44px;}
#menu li.tuning {background-image: url(/images/menu_hammer.jpg); padding-left: 31px;}
#menu li.about {background-image: url(/images/menu_mic.jpg); padding-left: 31px;}
#menu li.vacancy {background-image: url(/images/menu_target.jpg); padding-left: 56px;}
#menu li.news {background-image: url(/images/menu_news.gif); padding-left: 44px;}
#menu li.shop {background-image: url(/images/shop.gif); padding-left: 44px;}
#menu li.special-offer {background-image: url(/images/menu_horn.jpg); padding-left: 44px;} // menu_horn.jpg

#tuning a { font-size:18px; font-weight:700; }

#banners-top {margin: 10px 0; padding: 0 10px 11px;}
#banners-top ul {overflow: hidden; list-style: none; padding: 0; margin: 0;}
#banners-top li {width: 33%; vertical-align:top; display:inline-block; zoom:1; *display:inline;}

#menu-auto {color: #09371d; font-family: Tahoma; font-size: 12pt; margin: 10px 0; padding: 0 10px;}
#menu-auto a {color: #09371d;}
#menu-auto a:hover {color: #09371d; text-decoration:none}
#catalog-showing {color: #09371d; overflow: hidden; padding: 10px 10px 0;}
#catalog-showing a {color: #046330;}
#catalog-showing a:hover {color: #046330; text-decoration:none}
#catalog-showing .car-info {width: 33%; padding: 30px 0 0; vertical-align:top; display:inline-block; zoom:1; *display:inline;}
#catalog-showing .car-info h2 {font-size: 13pt; margin: 0; color: #09371d; height: 22px;}
#catalog-showing .car-info p {font-size: 11pt; margin: 0; padding-right: 30px;}
#catalog-showing .spectransport {width: 66%;}

#dbody {overflow: hidden; background: #fff; margin: 10px 0; padding: 0 10px;}
#banners-right {float: right; width: 319px;}
#content {padding: 20px 0 1px; font-size: 11pt; color: #09371d;}
#content h1 {font-size: 14pt;}
.banners-right#content {margin-right: 350px;}

#banners-right ul {list-style: none; margin: 0; padding: 0;}
#banners-right li {text-align: center; padding: 16px 0 0;}
#banners-bottom {text-align: center;}
#banners-bottom ul {margin: 0; padding: 0; list-style: none;}

.news a {color: #046330;}

.options {margin: 0 auto;}
.options td {padding: 3px 3px 3px 18px;}
.options .odd {background: #f8f6e9;}
.options .even {background: #e4e0c4;}

#car-info {overflow: hidden; margin: 45px 0 10px; color: #09371d;}
#car-info .left {float: left;}
#car-info .links {width: 370px; margin: 0;}
#car-info .left h3 {margin: 0;}
#car-info .left ul {margin: 0; padding: 0; list-style: none;}
a {color: #09371d;}
a:hover {color: #09371d; text-decoration:none}
#car-info #top-content {margin: 0 70px 0 0;}
#car-info-mini {overflow: hidden; margin: 17px 0;}
#car-info-mini .right {float: right; width: 67%;}
#car-info-mini .right h3 {margin: 0;}
#car-info-mini .right ul {margin: 0; padding: 0; list-style: none;}
#car-info-mini .menu .active {display: none;}
#top-content p {margin: 0 auto;}

#car-info-mini .menu {float: left;}
#car-info-mini .photogallery-demo {margin: 0 0 0 240px;}

.price td {text-align: center; padding: 3px; border-left: 1px solid #d9d0a7; font-size: 10pt}
.price .header {background: #fcfbf6;}
.price .header td {border-bottom: 1px solid #d9d0a7; border-left: none; text-align: left; font-weight: 700;}
.price .prices td {text-align: center; font-weight: 100;}
.price .odd {background: #f8f6e9;}
.price .even {background: #efebd5;}
.price .title {text-align: left; border-left: none;}
.price .prices .title {text-align: left; font-weight: 700;}

.options thead tr, .price thead tr {background: #d9d0a7 url(/images/price-lt.gif) 0 0 no-repeat; text-align: center;}
.options thead td, .price thead td {background: transparent url(/images/price-rt.gif) 100% 0 no-repeat; border-left: none; border-bottom: 1px solid #a39c7d; color: #fff; font-weight: 700;}

.options tfoot tr, .price tfoot tr {background: #d9d0a7 url(/images/price-bl.gif) 0 100% no-repeat;}
.options tfoot td, .price tfoot td {background: transparent url(/images/price-br.gif) 100% 100% no-repeat; border: none;}

#car-info .photogallery-demo ul {overflow: hidden; padding: 5px 0 0;}
.photogallery-demo li {float: left; padding: 0 10px 10px 0;}
.photogallery-demo a {display: block; width: 81px; height: 81px; line-height: 81px; text-align: center; background: #cfc285; color: #fff;}

#top-content {margin: 0 390px 0 0; padding: 1px 0;}

#photos {list-style: none; margin: 0; padding: 0;}
#photos li {float: left; padding: 7px;}

.eur {font-family: eur;}
#quicklinks .eur {font-size: 10pt;}

.social {display: inline;}

.color-select {margin: 0 17px 0 0;}

#menu-sl {padding: 0 10px;}
#menu-sl ul {margin: 0; padding: 0; list-style: none; overflow: hidden;}
#menu-sl li {display: inline;}
#menu-sl li.active a {text-decoration: none;}

table.tuning h2, table.tuning h3 {margin: 0;}
table.tuning h2 span {background: #c5a22b; color: #fff; padding: 3px 5px; font-size: 14pt;}

/* Reservation form */
#messageForm h2 {color: #000; font-size: 12pt; margin: 0 0 3px;}
#messageForm input {float: right;}
#messageForm label {color: #000; line-height: 26px; display: block; float: left; width: 140px; font-size: 11pt;}
#messageForm textarea {color: #000; display: block; float: right; width: 120px}
#messageForm legend {color: #000;}
#messageForm .input {float: right;}
#messageForm .captcha label {float: none; width: 150px;}
#messageForm .captcha input {float: none; width: 150px; font-size: 20pt;}

/* NG */
div.ng { margin:5px; padding:0 20px; border: 1px dashed #F33; font-size:12px; color:#666; width:30% }
span.ng { color:#db4444; font-weight:700; font-size:14px }

#vaka { margin-top:10px; font-size:18px; }
#vaka a { font-size:18px; text-decoration:none; border-bottom:1px dashed }
#vaka a:hover { font-size:18px; text-decoration:none; border:0 }

#red { color:#F00; font-weight:bold; font-size:10px }

.banki {margin: 0 auto;}
.banki td {padding: 3px 3px 3px 18px;}
.banki .odd {background: #f8f6e9;}
.banki .even {background: #e4e0c4;}
.banki .even1 {background: #e4e0c4; text-align:center}

.form {width: 400px; margin: 5px auto 15px; font-size:12px}
.form #dataday {width: 20px;}
.form #datamonth {width: 20px;}
.form #datayear {width: 40px;}
.form #pseria1 {width: 20px;}
.form #pseria2 {width: 20px;}
.form #pdocnum {width: 60px;}
.form #pdatavidan1 {width: 20px;}
.form #pdatavidan2 {width: 20px;}
.form #pdatavidan3 {width: 40px;}
.form #rindex {width: 60px;}
.form #rlocation {width: 326px;}
.form #rstreet {width: 400px;}
.form #rhouse {width: 60px;}
.form #rbuild {width: 60px;}
.form #rroom {width: 60px;}
.form #findex {width: 60px;}
.form #flocation {width: 326px;}
.form #fstreet {width: 400px;}
.form #fhouse {width: 60px;}
.form #fbuild {width: 60px;}
.form #froom {width: 60px;}
.form fieldset {border: none; margin: 0; padding: 0;}
.form label {display: block; margin-top: 10px;}
.form input, .form textarea {border: 1px solid #625E3D; padding: 2px 1px; width: 396px;}
.form .captcha img {float: left;}
.form .captcha input {width: 200px;}
.index .models {/*background-color: #fff;*/}
div.error {width: 400px; padding: 10px; margin: 20px auto 0; text-align: center;}
.error {border: 1px solid #D45238 !important; color: #D45238; background: none repeat scroll 0 0 #FFC1B5;}
.form span {color: #61b519;}
.form h3 {color: #61b519;}
.form .search {width: 300px;}
.form input.radio {width: 20px; text-align:left; float:left; margin:0; padding:0}

.price-vt { margin: 15px 0; }
.price-vt td {text-align: center; padding: 3px; border-left: 1px solid #d9d0a7; font-size: 10pt}
.price-vt .header {background: #fcfbf6;}
.price-vt .header td {border-bottom: 1px solid #d9d0a7; border-left: none; text-align: center; font-weight: 700;}
.price-vt .prices td {text-align: center; font-weight: 100;}
.price-vt .odd {background: #f8f6e9;}
.price-vt .even {background: #efebd5;}
.price-vt .title {text-align: left; border-left: none;}
.price-vt .prices .title {text-align: left; font-weight: 700;}
.price-vt thead tr, .price thead tr {background: #d9d0a7 url(/images/price-lt.gif) 0 0 no-repeat; text-align: center;}
.price-vt thead td, .price thead td {background: transparent url(/images/price-rt.gif) 100% 0 no-repeat; border-left: none; border-bottom: 1px solid #a39c7d; color: #fff; font-weight: 700;}
.price-vt tfoot tr, .price tfoot tr {background: #d9d0a7 url(/images/price-bl.gif) 0 100% no-repeat;}
.price-vt tfoot td, .price tfoot td {background: transparent url(/images/price-br.gif) 100% 100% no-repeat; border: none;}
.price-vt #vtext {
    transform: rotate(-90deg);
    transform-origin: 80% 30%;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -ms-transform-origin: 80% 30%; /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -webkit-transform-origin: 80% 30%; /* Safari and Chrome */
    -moz-transform: rotate(-90deg); /* Firefox */
    -moz-transform-origin: 80% 30%; /* Firefox */
    -o-transform: rotate(-90deg); /* Opera */
    -o-transform-origin: 70% 40%; /* Opera */
	height: 70px;
	border: 0;
}